@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.label {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.25rem;
	-webkit-user-select: none;
	user-select: none;
}
.hero {
	background-position: 50%;
	background-size: cover;
	display: grid;
	place-items: center;
	width: 100%;
}
.hero-overlay,
.hero > * {
	grid-column-start: 1;
	grid-row-start: 1;
}
.hero-overlay {
	--tw-bg-opacity: 0.5;
	background-color: hsl(219 14% 28% / var(--tw-bg-opacity));
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	height: 100%;
	width: 100%;
}
.hero-content {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	max-width: 80rem;
	padding: 1rem;
	z-index: 0;
}
